include ../includes/button.pug

.bottom
    .text
        img(src="images/bottom-text.png", alt="", srcset="")
        .w-100
        a(href=link target="_blank")
            +button('ПРИСОЕДЕНИТЬСЯ')
        .w-100
        iframe(width="560" height="315" src=video frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    