include ../includes/button.pug

.modal-wrap
    .modal-window
        div Хочешь получить 100% кєшбек от МЕГАБОНУС!?
        div Тогда вот что тебе нужно сделать:
        div 1. Зарегестрирываться по ссылке - наша ссылка
        div 2. Сделать покупку любого товара в любом магазине через Мегабонус до 100 $
        div 3. Отправить скрин покупки для участия на любой удобный ресурс:
        div VK - https://vk.com/id492551846 (скрин в личное сообщение).
        div @Mail - megabonus@zlodei.team
        div Instagram - @zlodei_ivent  (срин в директ).
        div Так же оставь свое (Имя.Фамилию. Номер телефона).
        div Количество победителей: 100 человек!
        div 30.06.2018 ты узнаешь победителей тут - ссылка в низ лендинга.
        div#btn-result
            +button('Перейти к результатам',0.6)
        .modal-window__close
            img(src="images/close.png", alt="", srcset="")